<div class="container">
  <h2 class="text-center">El material ya se encuentra cargado en el remito</h2>
  <button class="btn btn-primary mb-3"><a
      href="/materiales-orden/{{orderId}}"
    >Volver a la orden {{order}}</a></button>
</div>