<div class="container">
  <form action="/api/items" method="post">
    <div class="mb-3">
      <label for="order" class="form-label">Orden</label>
      <input type="text" name="order" class="form-control" required />
    </div>
    <div class="mb-3">
      <label for="remito" class="form-label">Remito</label>
      <input type="text" name="remito" class="form-control" required />
    </div>
    <div class="mb-3">
      <label for="supplier" class="form-label">Proveedor</label>
      <input type="text" name="supplier" class="form-control" required />
    </div>
    <div class="mb-3">
      <label for="title" class="form-label">Material</label>
      <input type="text" name="title" class="form-control" required />
    </div>
    <div class="mb-3">
      <label for="stock" class="form-label">Stock</label>
      <input type="number" name="stock" class="form-control" required />
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">Cargar</button>
    </div>
  </form>
</div>