a:link,
a:visited,
a:active {
    text-decoration: none;
    color: inherit;
    font-weight: normal;
    font-style: normal;
}

.btn {
    height: 45px;
}

body {
    background-image: url('/images/fondo.png');
}

img {
    max-height: 70px;
}

@media print {
    body * {
        visibility: hidden;
    }

    .table,
    .table * {
        visibility: hidden;
    }

    .tablaImprimir,
    .tablaImprimir * {
        visibility: visible;
    }

    

    .tablaImprimir {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
}